SLACK_SIGNING_SECRET=
SLACK_CLIENT_SECRET=
SLACK_BOT_TOKEN= 
SLACK_APP_TOKEN= # only needed for socket mode
PORT= # leave empty for socket mode 
# a random string used to salt user hashes. Must be kept secret. Put inside double quotes. Can be generated with `openssl rand -base64 128`
SALT="" 
# path to file where to store banned user salted hashes. If empty, they will be stored in memory (not persistent).
BANNED_LIST_LOCATION= # delete this line/(don't include this env var) if deploying with docker
IMPRESSIONS_CHANNEL_ID= # channel ID where impressions are seeked
REVIEW_CHANNEL_ID= # channel ID where reviews are posted. Preferably private.